/* OFFSET content equal to navbar's height */
.offset-from-navbar {
  margin-top: 48px; /* navbar height is 48px (inspected) */
}

/* navbar styles */
.custom-navbar {
  padding: 0; /* remove default horizontal padding added by .navbar bs class */
  background-color: var(--dark-surface);
  border-bottom: 1px solid var(--divider);
}

/* brand (YourBrand) */
.navbar-brand {
  font-weight: 600;
  color: var(--text-heading);
}

.navbar-brand:hover,
.navbar-brand:focus-visible {
  color: var(--main-color);
}

/* links (Home, Catalog, Contact) */
.nav-link {
  color: var(--text-primary);
  transition: background-color 0.5 ease;
  position: relative;
}

.nav-link:hover,
.nav-link:focus-visible {
  color: var(--text-primary);
  background-color: hsla(250, 100%, 70%, 0.2);
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%; height: 3px;
  bottom: 0; left: 0;
  background: var(--main-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s ease;
}

.nav-link:hover::before,
.nav-link:focus-visible::before {
  transform: scaleY(1);
}
.btn-primary {
  background-color: var(--main-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--highlight-2);
}

.navbar-toggler {
  filter: invert(100%);
}

/* view cart button */
.nav-item:nth-child(4) {
  
}

.view-cart-btn {
  border: 1px solid var(--divider);
  border-radius: 8px;
}

/* rainbow Sign-In button */
.rainbow-btn {
  cursor: pointer;
  position: relative;
  border: 1px solid var(--divider);
  border-radius: 8px;
  background-color: var(--dark-surface);
  color: var(--text-primary);
  transition: border-color 0.1s ease;
  z-index: 1;
}

/* make pseudo-elements appear on hover */
.rainbow-btn:hover { border: none; }
.rainbow-btn:hover::before { opacity: 1; }
.rainbow-btn:hover::after { opacity: 0.5; }

.rainbow-btn::before,
.rainbow-btn::after {
  content: '';
  position: absolute;
  opacity: 0;
  inset: -1.5px;
  border-radius: 8px;
  z-index: -1;
  background: linear-gradient(30deg, 
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(0, 100%, 50%)
  );
  background-size: 400% 100%;
  animation: borderFlow 20s linear infinite;
  transition: opacity 1s ease;
}

/* rainbow border shadow */
.rainbow-btn::after {
  inset: -3px;
  filter: blur(20px);
}

@keyframes borderFlow {
  0% { background-position: 0% 0%; }
  50% { background-position: 400% 0; }
  100% { background-position: 0% 0%; }
}

/* FOOTER */